link(rel="stylesheet", href=assetsPath + "styles/libs/fontawsome.min.css")
link(rel="stylesheet", href=assetsPath + "styles/libs/bootstrap.min.css")
link(rel="stylesheet", href=assetsPath + "styles/libs/tuti.min.css")
link(rel="stylesheet", href=assetsPath + "styles/style.css")