-
  const mainHeadline = "Hello World!! <br> TuTi framework",
  mainPragraph = "Here Iam gonna share everything about my life. Books Iam reading, Games Iam Playing, Stories and Events",
  actionOne = "Get Action",
  actionTwo = "Action Two";